h1{
    font-size: 60px;
    text-align: center;
}
h2{
    font-size: 25px;
    text-align: center;
    color: indigo;
    font-weight: normal;
    border: ridge;
    border-color: snow;
}
nav{
    font-size: 30px;
    color: darkred;
    font-weight: bold;
}
.peter{
    color: tomato;
    font-size: 18px;
    text-decoration: underline;
}
.dana{
    color: teal;
    font-size: 18px;
    text-decoration: underline;
}
.mayor{
    color: yellowgreen;
    font-size: 18px;
    text-decoration: underline;
}
.ray{
    color: orchid;
    font-size: 18px;
    text-decoration: underline;
}
.egon{
    color: orange;
    font-size: 18px;
    text-decoration: underline;
}
.winston{
    color: mediumturquoise;
    font-size: 18px;
    text-decoration: underline;
}
.narattion{
    color: slategray;
    font-style: italic;
}
#space-line{
    border-width: 1.5px;
    border-color: mediumblue;
}